- @posts = []
- @items.each do |n|
  - if n[:kind] == 'article'
    - @posts << n
- @p = @posts.sort_by{|i| i[:created_at]}
- @last_title = @p.last[:title]
- @last_content = @p.last.compiled_content
- @last_tags = @p.last
!!! 5
%html{ :lang => "ru" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=775" }
    %title
      = @last_title
    %link{ :href => "/stylesheets/styles.css", :rel => "stylesheet" }
    %link{ :href => "/favicon.png", :rel => "shortcut icon", :type => "image/png" }
    %link{ :rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "/atom.xml"}
    %script{ :src => "/javascripts/highlight.pack.js" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/zenburn.css" }
    %script
      hljs.initHighlightingOnLoad();
  %body
    %div.wrapper
      %div.main
        %div.post
          %h1
            = @last_title
          = find_and_preserve(@last_content)
        %div.separator
          Blog Posts
          %span.feed
            %a(href="/atom.xml" title="subscribe to rss") subscribe to rss
        %ul.posts
          - @p.reverse!.each do |i|
            %li
              %a(href="#{i.identifier.chop}.html" title="#{i[:title]}")= i[:title]
        %div.separator
          Tags
        %ul.tags
          - tag_set.each do |tag|
            %li
              %a(href="/tag/#{tag}.html")= tag
